body {

font-family: Arial;
background:#f4f6f9;

display:flex;
justify-content:center;
align-items:center;

height:100vh;
margin:0;

}

.container {

background:white;
padding:40px;

border-radius:10px;

box-shadow:0 10px 25px rgba(0,0,0,0.1);

text-align:center;

}

button {

background:#635bff;

border:none;
padding:12px 25px;

color:white;

font-size:16px;

border-radius:6px;

cursor:pointer;

}

button:hover {

background:#5146e5;

}